body{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    background-color:#F2F2F2;
}

.navbar-brand{
    line-height: 80px;
}

.menu-page{
    height: 80px;
    background-color:#F2F2F2;
}

.navbar img {
    max-height: 40px; 
    vertical-align: middle; 
}

.nav-link img {
    transition: transform 0.3s ease; 
}

.nav-link img:hover {
    transform: scale(1.1); 
}

li a:hover{
    font-weight: 600;
}

.bouton-remontant {
    height: 70px;
    width: 70px;
    background: #212121;
    border-radius: 50%;
    border: 2px solid #525252;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.icone {
    width: 50px;
}

.texte-vertical {
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    font-weight: 600;
    letter-spacing: 2px;
    align-self: flex-start;
}
